body{
    background-color: #000000;
    color:#ffffff;
    font-family: "Raleway",serif;
    font-weight: 400;
    font-style: style;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    min-height: 100vh;
}


img{
    width:200px;
    height:300px ;
    object-fit: contain;
    float: left;
    margin-right: 10px;   
}

.book-info{
    display: flex;
    flex-direction: column;
}

p{
    overflow: hidden;
}

h1,h2{
    color:green;
}

a:link{
    color:   #FFC300  ;
}
