body{
    background-color: #fbf3e4;
    font-family: 'Roboto Condensed';
}


/*this is the nav bar*/
.header{   
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header ul{
    display: flex;
    justify-content:center ; 
    align-items: center;  
}

.header li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.header a{
    text-align: center;
    text-decoration: none;
    padding: 100px;
}

.header a:hover{
 background-color: #dfd8ca;
}

.header li.active a{
    background-color: #dfd8ca;
    color: green;
}

/*this is the mobile format of the above code*/



/*this first part*/

.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading-h{
    color: #b91646;
    font-family: "maharlika";
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 100px;    
}

.heading-p{
  height: 50px;
  width: 320px;
  border: 3px solid black;
  padding:30px;
  margin: 10px;
  background-color: #d6b588;
  text-align: center;
}

.heading-p p{
    font-family: "Italianno";
    font-weight: 300;
}

/*profile part*/
.image-section {
    height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.image-section img{   
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

/*skills part*/
.container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.container h2{
    color: #b91646;
    font-weight: 700;
    font-size: 50px;
    
}

.container p{
    font-weight: 500;
    font-size: 600;
}

.logos img{
    height: 200px;
    width: 250px;
}

.logos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:10px;
}

.grid-item{
    padding: 10px;
}

/*projects working on*/
.main_container{
    display: flex;
    height: 100vh;
    justify-content:space-around;
    align-items: center;
    float: 0;
}

.main_container li{
    display: inline-block;
    list-style: none;
    padding: 30px;
    border: 2px solid black;
    border-radius: 20%;
    background-color: #d9d9d9;
    height: 100px;
    width: 200px;
    margin: 40px;

}

/*lets get in touch*/
.contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.contact h2,.contact p{
    display: block;
}
.contact .imgs{
   display: inline;
}