<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes </title>
    <link rel="icon" type="image/png" href="images/book.png">
    <link rel="stylesheet" href="index.css">
    <link href="css/bootstrap.css" rel="stylesheet">

</head>
<body>
   <section id="main">
        <%- include('partials/header.ejs') %>
        <h2>Book i've Read</h2>
        <p>This is all the book i read.😊 </p>
        <hr>
        
   </section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>    
</body>     
</html>