body{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin:50px 50px 0px 50px;
}
h1{
    font-size: 5rem;
}
span{
    color:purple;
}

.main{
    flex: 1;
}

footer{ 
    text-align: right;
    color:midnightblue;
 }
.tile-image{
    float:left;
    display: block;
    height: 200px;
    margin-right: 30px;
}
.card{
    width:45%;
}
.left{
    float:left;
}

.right{
    float:right;
}

@media (max-width:680){
    .logo{
        width: 100px;
    }
    
    h1{
        font-sze:3.5rem;
        text-align: center;
    }
    .card{
        display: block;
        width:100%;
        text-align: justify;
        margin-bottom: 30px;
    }

    .card img{
        display: inline;
        width:100%;
        object-fit: cover;
    }
    
}

