<div class="px-4 py-5 my-5 text-center"></div>
    <img class="d-block mx-auto mb-4" src="/img/alien-svgrepo-com.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Create your Blog</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">share your idea and tell by the crowds response how wrong you are and then correct your self like micheal jackason said wanna make a change look at your self and change your self.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Read Blog</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" >Create One</button>
      </div>
    </div>
  </div>