<div class="px-4 py-5 my-5 text-center"></div>
    <img class="d-block mx-auto mb-4" src="/img/alien-svgrepo-com.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Time To Write</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Let Your Imagination Run Wild And Embrace The World Head On.</p>
    </div>
    
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
        <form>
            <p><label for="blopost">Write your ideas here</label></p>
            <textarea row="10" col="70"></textarea> 
            <input type="submit" value="Submit">
        </form>
    </div>
    
  </div>