.container{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.container header{
    width: 100%;
}

.container header a{
    margin-right: auto;
}

.container header ul{
    margin-left: auto;
}

h1{
    text-align: center;
}