<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <link rel="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <title>The Daily Planet</title>
</head>
<body>
        <div class="main">
            <script>

            const images=[
                "/img/StockCake-Cranberry Cooking Pot_1726300952.jpg",
                "/img/StockCake-Futuristic Helmet Design_1726300923.jpg",
                "/img/StockCake-Baking Fresh Bread_1726300843.jpg",
            ];

            let currentIndex=0;

            function changeBackground(){
                const htmlElement=document.querySelector('.main');
                htmlElement.style.backgroundImage=`url(${images[currentIndex]})`;

                currentIndex=(currentIndex+1)%images.length;

            }
            setInterval(changeBackground,5000);

            changeBackground();  //for initializing the first background image setting

            </script>

            <div class="header">
                <div class="image-div header-child">
                    <img src="/img/alien-svgrepo-com.svg" class="logo">Bloggy
                    <!-- <span class="blog-title">Bloggy</span> -->
                </div>

                <div class="header-child">
                    <a href="#">SIGN IN</a>
                </div>
            </div>

        </div>

        <!-- why bloging is cool -->

        <div>
            
        </div>
</body>
</html>